<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div class="container">
    <form method="post" class="form create">
        <div><label for="">Username:<input type="text" name="name"></label></div>
        <div><label for="">Password:<input type="password" name="password"></label></div>
        <div><label for="">Confirm:<input type="password" name="repeatpass"></label></div>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>